<div class="images__container">

  <agilie-search></agilie-search>

  <div class="images__container-result">

    <div class="images__pagination">
      <mat-paginator
        [length]="giphyService.length.getValue()"
        [pageSize]="paginatorService.paginationConfig.getValue().pageSize"
        [pageSizeOptions]="[10, 25, 50]"
        (page)="selectPage($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>

    <ng-container *ngIf="isLoadingSearch">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>

      <ng-container *ngIf="!giphyService.search$.getValue()">
        <ul class="images__list">
          <li class="images__list-item"
              *ngFor="let item of trendingResults | async">
            <agilie-card
              [cardInfo]="{
              title:item.title,
              username: item.user?.username,
              postDate: item.import_datetime,
              srcImg: item.images.fixed_width.url
          }"
              [isLoading]="isLoading"
            ></agilie-card>
          </li>
        </ul>
      </ng-container>

      <ng-container *ngIf="!!giphyService.search$.getValue()">
          <ul class="images__list">
            <li class="images__list-item"
                *ngFor="let item of searchResults | async">
              <agilie-card
                [cardInfo]="{
                  title:item.title,
                  username: item.user?.username,
                  postDate: item.import_datetime,
                  srcImg: item.images.fixed_width.url
                }"
                [isLoading]="isLoadingSearch"
              ></agilie-card>
            </li>
          </ul>
        </ng-container>

  </div>
</div>

