.images {
  &__container {
    padding: 20px;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    overflow: auto;

    &-result {
      border-radius: 4px;
      box-shadow: 1px 1px 4px 0 #000a0e52;
      overflow: hidden;
    }

  }

  &__list {
    padding: 20px;
    margin: 0;

    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

mat-paginator {
  background: #a8c0ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a2987, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a2987, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


@media only screen and (max-width: 600px) {
  .images {
    &__container {
      padding: 20px 0 0 0;
    }
    &__list {
      padding: 5px;
    }
  }
}
